html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  background-image: url("../public/background.png");
  background-position: center;
  background-size: cover;
}